.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container h1.sow-headline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #0582ff;
  line-height: 23px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container h1.sow-headline a {
  color: #0582ff;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container h1.sow-sub-headline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #000000;
  line-height: 23px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container h1.sow-sub-headline a {
  color: #000000;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 0px solid #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-29e4fbce38bf .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}